flask
gunicorn
numpy==1.24
editdistance==0.6.2
tensorflow==2.13.0
scipy
tensorflow_addons==0.21.0
matplotlib
opencv_python
keras
metrics==0.3.3
tf_keras_vis==0.8.5
scikit-image==0.21.0
elasticdeform
lmdb===1.3.0
pyparsing
six
blinker==1.4
